*{
    font-family: Arial, Helvetica, sans-serif;
}
.table{
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}
td,th{
    padding: 13px;
}
th{
    color: red;
    background-color: bisque;
    font-style: italic;
}
.grey{
    background: rgb(219, 219, 219);
}